table {
  margin: 0 auto;
  width: 500px;
}

th {
  color: blue;
  font-size: 25px;
}
td {
  color: black;
  text-align: center;
  font-size: 14px;
}
tr:nth-child(2) td {
  color: red;
}
tr:nth-child(3) td {
  color: green;
}
tr:nth-child(4) td {
  color: orange;
}
tr:nth-child(5) td {
  color: purple;
}
tr:nth-child(6) td {
  color: black;
}
tr:nth-child(2):hover {
  background-color: green;
}
tr:nth-child(3):hover {
  background-color: orange;
}
tr:nth-child(4):hover {
  background-color: purple;
}
tr:nth-child(5):hover {
  background-color: pink;
}
tr:nth-child(6):hover {
  background-color: yellow;
}
